extends baseEmail

block content
  p Hi #{firstName},
  p Password bhul gye? Abhi submit karen PATCH request password or confirmPassword ke sath : #{url} par.
  p (Website for this action not yet implemented.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p AGAR APKO APNA PASSWORD YAAD HAI TOH KRIPAYA MESSAGE PAR DHYAN NA DEN! DHANYAWAAD.