extends base

mixin navItem(link, text, icon, active)
    li(class = `${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content
    main.main
      .user-view
        nav.user-view__menu
          ul.side-nav
            +navItem('/me', 'Settings', 'settings', activeBtn[0])
            +navItem('/my-tours', 'My bookings', 'briefcase', activeBtn[1])
            +navItem('/my-reviews', 'My reviews', 'star', activeBtn[2])
            +navItem('#', 'Billing', 'credit-card', activeBtn[3])

          - if(user.role === 'admin')
              .admin-nav
                h5.admin-nav__heading
                  svg.admin-icon
                    use(xlink:href=`img/icons.svg#icon-lock`)
                  span &nbsp; Admin
                ul.side-nav
                  +navItem('/all-tours', 'Manage tours', 'map', activeBtn[4])
                  +navItem('/manage-users', 'Manage users', 'users', activeBtn[5])
                  +navItem('/manage-reviews', 'Manage reviews', 'star', activeBtn[6])
                  +navItem('#', 'Billing', 'briefcase', activeBtn[7])

        .user-view__content
          block accountInfo
